* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Prata', serif;
    margin: 1rem;
}

p {
    margin: 1rem 0;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

ul ul {
    padding-left: 2rem;
    padding-top: 1rem;
}

button:focus,
a:focus {
    outline: none;
}

button::-moz-focus-inner {
    border: 0;
}

blockquote {
    border-left: 0.25rem solid $green-color-second;
    padding-left: 1rem;
    color: gray;
}

#page {
    display: grid;
    grid-template-areas: "header" "nav" "beforeContent" "main" "afterContent" "footer";
}

.content {
    grid-area: content;
}

#not-found-image {
    text-align: center;
    margin-top: 1rem;
}

#not-found-image img {
    max-width: 50%;
}

.pagination {
    margin: 1rem 0;
}

audio {
    max-width: 100%;
    height: auto;
}

.pagination .nav-links a,
.pagination .nav-links .current {
    background-color: $green-color-main;
    border-radius: 0.3125rem;
    color: white;
    display: inline-block;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    text-decoration: none;
}

.pagination .nav-links a {
    background-color: $green-color-main;
}

.pagination .nav-links a:hover,
.pagination .nav-links .current {
    background-color: $green-color-second;
}