#masthead {
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    background-position: center;
    text-align: center;
}

#masthead h1 {
    margin-bottom: 0.3125rem;
}

#masthead h2 {
    font-size: calc(1rem + 0.3vw);
    font-weight: normal;
}

#site-title a {
    font-size: calc(3rem + 1vw);
    font-weight: normal;
    color: lightgrey;
    text-align: center;
    text-decoration: none;
}

#site-title a:focus,
#site-title a:hover {
    color: white;
}

#site-description {
    text-transform: uppercase;
}