#masthead {
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    background-position: center;
    text-align: center;
}

#masthead #header-right-corner {
    position: absolute;
    top: 0.3rem;
    right: 0.3rem;
}

#masthead #header-right-corner ul li {
    display: inline-block;
}

#masthead #header-right-corner ul li.current-lang img,
#masthead #header-right-corner ul li:hover img {
    border: solid $green-color-second 0.1875rem; 
}

#masthead #header-right-corner ul li img {
    min-width: 1.875rem;
}

#masthead h1 {
    margin-bottom: 0.3125rem;
}

#masthead h2 {
    font-size: calc(1rem + 0.3vw);
    font-weight: normal;
}

#site-title a {
    font-size: calc(3rem + 1vw);
    font-weight: normal;
    color: lightgrey;
    text-align: center;
    text-decoration: none;
}

#site-title a:focus,
#site-title a:hover {
    color: white;
}

#site-description {
    text-transform: uppercase;
}