.nav-parent-button {
    background-color: transparent;
    padding: 0 1rem;
    border: none;
}

.nav-parent-button>.arrow {
    border: solid white;
    border-width: 0 0.1875rem 0.1875rem 0;
    display: inline-block;
    padding: 0.1875rem;
    position: relative;
    bottom: 0.1875rem;
    transform: rotate(45deg);
}

#main-nav [sub-menu-expanded]>.nav-parent-button>.arrow {
    @include rotateArrow();
}

@media all and (min-width: $breakpoint-large) {
    .nav-parent-button {
        padding-right: 0.5rem;
        pointer-events: none;
    }
}