#nav-button {
    position: relative;
    height: 2rem;
    width: 2rem;
    background-color: transparent;
    border: none;
    margin: 1rem;
    float: right;
}

#nav-icon {
    position: absolute;
    width: 1.3rem;
    height: 0.9rem;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0.1rem;
}

.nav-icon-line {
    background-color: white;
    height: 0.15rem;
    width: 100%;
    border-radius: 0.15rem;
    position: absolute;
    left: 0;
}

#nav-icon-line-1 {
    top: 0;
}

#nav-icon-line-2 {
    top: 0;
    bottom: 0;
    margin: auto;
}

#nav-icon-line-3 {
    bottom: 0;
}

#main-nav[menu-expanded] #nav-icon-line-1 {
    transform: translateY(0.45rem) translateY(-50%) rotate(-45deg);
}

#main-nav[menu-expanded] #nav-icon-line-2 {
    opacity: 0;
}

#main-nav[menu-expanded] #nav-icon-line-3 {
    transform: translateY(-0.45rem) translateY(50%) rotate(45deg);
}

@media all and (min-width: $breakpoint-medium) {
    #nav-button {
        display: none;
    }
}