#main-nav {
    grid-area: nav;
    background-color: $green-color-main;
    font-family: 'Prata', serif;
}

.menu-nav-container {
    display: none;
    clear: both;
}

#main-nav[menu-expanded] .menu-nav-container {
    display: block;
}

#primary-menu ul {
    display: none;
}

#primary-menu li {
    padding: 1rem;
}

#primary-menu>li:last-child {
    padding-bottom: 2rem;
}

#primary-menu a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

#primary-menu .current-menu-item>a,
#primary-menu .current-menu-parent>a {
    color: $yellow-color-hover;
}

#primary-menu .current-menu-parent .arrow {
    border-color: $yellow-color-hover;
}

#primary-menu [sub-menu-expanded]>ul {
    display: block;
}

@media all and (min-width: $breakpoint-medium) {
    .menu-nav-container {
        display: block;
    }
    #primary-menu {
        display: flex;
        justify-content: center;
    }
    #primary-menu>li {
        padding: 1.3rem 1rem;
    }
    #primary-menu>li:last-child {
        padding-bottom: 1rem;
    }
    #primary-menu>li>ul {
        margin-top: 1.3rem;
        left: 0;
    }
    #primary-menu a:hover {
        color: $yellow-color-hover;
    }
    #primary-menu li {
        position: relative;

    }
    #primary-menu ul {
        background-color: $green-color-main;
        padding: 0;
        position: absolute;
        min-width: 100%;
        z-index: 2;
    }
    #primary-menu li:hover>ul {
        display: block;
    }

    #primary-menu li:hover>.nav-parent-button>.arrow {
        @include rotateArrow();
    }
}

@media all and (min-width: $breakpoint-large) {
    #main-nav {
        @include contentGrid();
    }
}