$breakpoint-small: 38rem;
$breakpoint-medium: 56.25rem;
$green-color-background: #272904;
$green-color-hover: #3d4006;
$yellow-color-hover: #e0d954;

@mixin rotateArrow() {
    transform: rotate(-135deg)
  }