$breakpoint-small: 43.75rem;
$breakpoint-medium: 56.25rem;
$breakpoint-large: 81.25rem;
$green-color-main: #272904;
$green-color-second: #757b0e;
$yellow-color-hover: #e0d954;

@mixin rotateArrow() {
    transform: rotate(-135deg)
  }
  
  @mixin contentGrid($contentWidth: 75rem){
    display: grid;
    grid-template-areas: ". content  .";
    grid-template-columns: 1fr $contentWidth 1fr;
  }